/*reproductor. {
  display: inline;  the default for span 
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
}*/

video{
	width:100%;
	max-width:1100px;
}
