body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('../img/background.jpg') no-repeat center center/cover;
  /*  background-color: #630abc !important;  Aqui puedo meter la imagen es el fondo general */ 
}

.user_card{
    height:350px;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    background: #059451;  /* Esto es el fondo de color del formulario */
    opacity: 0.8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container{
    position: absolute;
    height: 170px;
    top: -75px;
    border-radius: 50%;
    background: #a8f8d3;  /* Esto es el circulito claro de color que redondea al logo */ 
    padding: 10px;
    text-align: center;
}

.brand_logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container{
    margin-top: 100px;
}

.login_btn{
    width: 100%;
    background: #521879 !important;
    color: white !important;
}

.login_bt:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container{
    padding: 0 0.05rem;
}

.input-group-text{
    background: #521879 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus{
    box-shadow: none !important;
    outline: 0px !important;
}


