body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('../img/background.jpg') no-repeat center center/cover;
    /*background: rgba(0, 0, 0, 0.6);
    'color transparente' 0,6 para las transparencias*/
    box-shadow: inset 50px 50px 200px #000, inset -50px -50px 200px #000;
}

b,p {
    color: whitesmoke;
}

h1 {
    color: rgb(228, 222, 222);
    margin-top: 1rem;
    margin-left: 2rem;
}
