

.boton-medio{
    text-decoration: none;
    padding: 0.8rem 2.4rem;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    background-color: #059451;
    border-radius: 6px;
    border: 2px solid #045c33;
  }
  .boton-medio:hover{
    color: #53cc94;
    background-color: transparent;
  }


:root {
    --primary-color: #059451;
    --dark-color: #141414;
    /*para los tabs*/
}

* {
    box-sizing: boder-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: rgb(9, 181, 224);
    /*Cambia color iconos subsecciones*/
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: rgb(7, 153, 163);
    /*Cambia el color del Titulo de la pagina*/
    font-family: Bold;
    font-size: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/background.jpg') no-repeat center center/cover;
}

.showcase::after {
    /*overlay*/
    content: '';
    /*no inserta contenido*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    /*'color transparente' 0,6 para las transparencias*/
    box-shadow: inset 20px 5px 20px #000, inset -20px -5px -20px #000; 
    /*para la sombra alrededor*/
    /*antes de la coma es para la parte izq y la de arriba, despues para dcha y parte de abajo*/
    /*valores de pixels para cambiar la intensidad de la sombra*/
}

.showcase-top {
    /*Hello,world! y sign in*/
    position: relative;
    z-index: 2;
    /*para que este 'mas cerca' a nosotros; de esta manera se vera mas claramente*/
    height: 90px;
}

.showcase-top img {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    /* AQUI MOVEMOS EL LOGO DE LA PAGINA*/
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -70%);
}

.showcase-content {
    /*titulo, subtitulo y large button*/
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    color: #059451;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-top2 a {
    position: absolute;
    top: 0%;
    right: 10%;
    transform: translate(+50%, +70%);
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}
/* Tabs */

.tabs {
    background: var(--dark-color);
    padding-top: 1 rem;
    border-bottom: 3 px solid #3d3d3d;
    /*cambia el color de fondo donde aparecen*/
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*repetir 3 veces 1 ud de fraccion*/
    grid-gap: 3rem;
    /*espacio entre ellos*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    /*tamaño de letra de 'Subseccion'*/
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    /*para cada directiva dir añadir relleno arriba abajo*/
    padding: 1.5rem 0;
}

.tabs .container>div:hover {
    color: #fff;
    cursor: pointer;
    /*al poner cursor en subseccion aparece en blanco*/
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
    /*linea roja debajo de subseccion*/
}


/* Contenido del tab */

.tab-content {
    padding: 3rem 0;
    /*la imagen de la subseccion tiene relleno por arriba y abajo*/
    background: url('../img/background_inferior.jpg') no-repeat center center/cover;
    color: rgb(0, 4, 253);
}
/* Ocultar contenido inicialmente*/

#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
    display: block !important;
}

#tab-1-content .tab-1-content-inner {
    /*imagen de subseccion no aparezca ocupando todo*/
    display: grid;
    /*para enseñar los elementos de dentro en grid*/
    grid-template-columns: repeat (2, 1 fr);
    /*queremos 2 columnas pares*/
    grid-gap: 5rem;
    /*Separacion entre titulo del tab y el texto*/
    align-items: center;
    justify-content: left;
    color: #000000;
    font-size: 1.2rem;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    /* Letra cursiva y en negrita */
}

/*





*/



#tab-1-content .tab-1-content-top {
    display: grid;
    grid-template-columns: 2fr 1 fr;
    /*1o para el texto 2o para el boton*/
    grid-gap: 1rem;
    justify-content: left;
    color:#000000;
    align-items: center;                             
}

#tab-1-content .tab-1-content-bottom {
    /*para que las fotos del tab 2 esten donde tienen que estar*/
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /*1o para el texto 2o para el boton*/
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tab-3-content .tab-3-content-top {
    display: grid;
    grid-template-columns: 2fr 1 fr;
    /*1o para el texto 2o para el boton*/
    grid-gap: 1rem;
    justify-content: left;
    color:#000000;
    align-items: center;                              
}

#tab-3-content .tab-3-content-bottom {
    /*para que las fotos del tab 2 esten donde tienen que estar*/
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /*1o para el texto 2o para el boton*/
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*






*/


#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1 fr;
    /*1o para el texto 2o para el boton*/
    grid-gap: 1rem;
    justify-content: left;
    color: #000000;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    /*para que las fotos del tab 2 esten donde tienen que estar*/
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /*1o para el texto 2o para el boton*/
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Parte Pablo*/

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td {
    color: rgb(247, 247, 247);
    padding: 0.5rem 1.8rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    /*Cambio la sombra a las lineas impares*/
    background: rgba(43, 2, 2, 0.726);
}

.table tbody tr:nth-child(even) {
    /*Cambio la sombra a las lineas impares*/
    background: rgba(238, 108, 2, 0.562);
}
/*Footers(Parte Pablo)*/

.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9rem;
}
/*Contenedor tabs*/

.container {
    /*si el tam de la pantalla varia esto se adecua*/
    max-width: 70%;
    /*de la pantalla*/
    margin: auto;
    overflow: hidden;
    padding: 0 2 rem;
    /*0 arriba abajo 2 dcha izq*/
}
/*Estilos de texto*/

.text-xl {
    font-size: 2rem;
    margin-bottom: 1 rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1 rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1 rem;
}

.text-center {
    text-align: left;
    /*Alineo el titulo del tab3 a la izquierda*/
    color: black;
}

.text-dark {
    color: #999;
}
/* Buttons */

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
    /*para cambiar el color de los botones al poner el cursor encima*/
}

.btn-rounded {
    border-radius: 5px;
    /*para que sea mas redondo*/
}
.btn-rounded-lg {
    border-radius: 7px;
    /*para que sea mas redondo*/
    font-size: 1rem;
    padding: 0.8rem 2.5rem;		
    text-transform: uppercase;
    background-color: #0EAB61;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
    /*mayusculas*/
}

.btn-lg {
    /*large button*/
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
}
/*Parte pablo*/

@media(max-width: 960px) {
    .showcase {
        height: 70vh;
    }
    .hide-sm {
        display: none;
    }
    .showcase-top img {
        /*Para que al minimizar la pagina, el logo se vea en la parte posterior izquierda*/
        top: 0.1%;
        left: 1%;
        transform: translate(0);
    }
    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }
    .showcase-content p {
        font-size: 1.5rem;
    }
    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
    }
    .text-xl {
        font-size: 1.5rem;
    }
    .text-lg {
        font-size: 1.3rem;
    }
    .text-md {
        font-size: 1.2rem;
    }
}

@media(max-width: 700px) {
    .showcase::after {
        box-shadow: inset 70px 70px 200px #000, inset -70px -70px 200px #000;
    }
    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }
    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }
    #tab-2-content .tab-2-content-bottom {
        grid-template-columns: 1fr;
    }
}

